.theorem-callout {
    --callout-color: var(--text-normal);
    font-family: Times;
    background-color: rgb(0, 0, 0, 0);
    border: solid;
    border-radius: 6px;
}

.theorem-callout .callout-icon {
    display: none;
}

.theorem-callout .callout-title-inner {
    font-style: bold;
}

.theorem-callout-subtitle {
    font-weight: 400;
}

.theorem-callout-en .callout-content {
    font-style: italic;
}
