.math-booster.compact-font.hover-popover .markdown-rendered {
    font-size: 100%;
}

.math-booster.suggestion-container,
.modal-container:has( .math-booster.prompt) {
    z-index: calc(var(--layer-popover) - 1);
}

.math-booster-version-2-release-note-modal {
    --table-border-width: 2px;
}

.editor-suggest-setting-indented-heading {
    margin-left: var(--size-4-1);
}
.editor-suggest-setting-indented-heading + .setting-item,
.editor-suggest-setting-indented-heading + .setting-item + .setting-item {
    margin-left: var(--size-4-3);
}

.math-booster-modal-top {
    padding: var(--size-4-3);
}

.math-booster-modal-top .setting-item {
    border-top: none;
    border-bottom: 1px solid var(--background-modifier-border);
}

.math-booster-setting-item-description {
    padding-bottom: 0.75em;
}

.math-booster-search-item-description {
    color: var(--text-faint);
}

.math-booster-backlink-modal {
    width: var(--file-line-width);
}

.math-booster-backlink-preview {
    border: var(--border-width) solid var(--background-modifier-border); 
    border-radius: var(--radius-s);
    padding: var(--size-4-6);
}

.math-booster-begin-proof {
    padding-right: 10px;
    font-family: CMU Serif, Times, Noto Serif JP;
    font-weight: bold;
}

.math-booster-begin-proof-en {
    font-style: italic;
}


.math-booster-end-proof {
    float: right;
}

.math-booster-add-profile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.math-booster-add-profile > input {
    width: 200px;
}

.math-booster-button-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: var(--size-4-2);
    padding: var(--size-4-2);
}

.math-booster-preview {
    cursor: text;
}

.HyperMD-quote.cm-line.math-booster-preview-container {
    text-indent:-15px;
    padding-inline-start:19px;
}

.cm-embed-block .math-booster-preview-edit-button {
    padding: var(--size-2-2) var(--size-2-3);
    position: absolute;
    right: var(--size-2-2);
    top: var(--size-2-2);
    opacity: 0;
    display: flex;
    border-radius: var(--radius-s);
}           
                
.cm-embed-block:hover .math-booster-preview-edit-button {
    transition: 0s;
    opacity: 1
}
                
/* Unlike in callouts, Obsidian natively renders MathJax in blockquotes. But it is rather buggy 
(see https://forum.obsidian.md/t/live-preview-support-math-block-in-quotes/32564/2), 
so we need to replace it with this plugin's editor extension. 
*/
.math-booster-preview-enabled .HyperMD-quote.cm-line .math.math-block.cm-embed-block:has(> mjx-container.MathJax[display="true"]:not(.math-booster-preview)) {
    display: none;
}

.theorem-callout {
    position: relative;
}
                
.theorem-callout-setting-button {
    padding-bottom: var(--size-2-2);
    padding-right: var(--size-2-3);
    position: absolute;
    right: var(--size-2-2);
    bottom: var(--size-2-2);
    opacity: 0;
}

.theorem-callout:hover .theorem-callout-setting-button {
    transition: 0s;
    opacity: 1
}

.theorem-callout-font-family-inherit {
    font-family: inherit !important;
}

.math-booster-title-form,
.math-booster-label-form {
    width: 300px;
}


/* The code below was taken from the Latex Suite plugin (https://github.com/artisticat1/obsidian-latex-suite/blob/a5914c70c16d5763a182ec51d9716110b40965cf/styles.css) and adapted.

MIT License

Copyright (c) 2022 artisticat1

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in all
copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
SOFTWARE.
*/
.math-booster-dependency-validation {
    color: white;
    display: inline-block;
    border-radius: 1em;
    margin-right: var(--size-3);
    cursor: default;
    pointer-events: none;
}

.math-booster-dependency-validation svg {
    width: 16px !important;
    height: 16px !important;
}

.math-booster-dependency-validation.valid {
    background-color: #7dc535;
    visibility: visible;
}

.theme-dark .math-booster-dependency-validation.valid {
    background-color: #588b24;
}

.math-booster-dependency-validation.invalid {
    background-color: #ea5555;
    visibility: visible;
}
