.theorem-callout {
    --callout-color: var(--text-normal);
    font-family: CMU Serif;
    background-color: rgb(0, 0, 0, 0);
    padding-left: 0;
    padding-right: 0;
    border: none;
    box-shadow: none;
}

.theorem-callout .callout-icon {
    display: none;
}

.theorem-callout .callout-title-inner {
    font-style: bold;
}

.theorem-callout-subtitle {
    font-weight: 400;
}

.theorem-callout-en .callout-content {
    font-style: italic;
}
