.math-booster-setting-item-description {
    padding-bottom: 0.75em;
}

.math-booster-search-item-description {
    color: var(--text-faint);
}

.math-booster-backlink-modal {
    width: var(--file-line-width);
}

.math-booster-backlink-preview {
    border: var(--border-width) solid var(--background-modifier-border); 
    border-radius: var(--radius-s);
    padding: var(--size-4-6);
}

.math-booster-begin-proof-en {
    font-style: italic;
    padding-right: 10px;
}

.math-booster-begin-proof-ja {
    font-weight: 600;
    font-family: Times, Noto Sans JP;
    padding-right: 10px;
}

.math-booster-end-proof {
    float: right;
}

.math-booster-add-profile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.math-booster-add-profile > input {
    width: 200px;
}

.math-booster-button-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: var(--size-4-2);
    padding: var(--size-4-2);
}

.math-booster-preview {
    cursor: text;
}

.HyperMD-quote.cm-line.math-booster-preview-container {
    text-indent:-15px;
    padding-inline-start:19px;
}

.cm-embed-block .math-booster-preview-edit-button {
    padding: var(--size-2-2) var(--size-2-3);
    position: absolute;
    right: var(--size-2-2);
    top: var(--size-2-2);
    opacity: 0;
    display: flex;
    border-radius: var(--radius-s);
}           
                
.cm-embed-block:hover .math-booster-preview-edit-button {
    transition: 0s;
    opacity: 1
}
                
/* Unlike in callouts, Obsidian natively renders MathJax in blockquotes. But it is rather buggy 
(see https://forum.obsidian.md/t/live-preview-support-math-block-in-quotes/32564/2), 
so we need to replace it with this plugin's editor extension. 
Note that :not(.cm-active) is required because display math equations like below get (undesirably) hidden without it:

$$
\tag{$$}
$$
*/
.HyperMD-quote.cm-line .math.math-block.cm-embed-block:has(> mjx-container.MathJax[display="true"]:not(.math-booster-preview)) {
    display: none;
}

.theorem-callout {
    position: relative;
}
                
.theorem-callout-setting-button {
    padding-bottom: var(--size-2-2);
    padding-right: var(--size-2-3);
    position: absolute;
    right: var(--size-2-2);
    bottom: var(--size-2-2);
    opacity: 0;
}

.theorem-callout:hover .theorem-callout-setting-button {
    transition: 0s;
    opacity: 1
}

.theorem-callout-font-family-inherit {
    font-family: inherit !important;
}

.math-booster-title-form,
.math-booster-label-form {
    width: 300px;
}


/* Taken from the Latex Suite plugin (https://github.com/artisticat1/obsidian-latex-suite/blob/a5914c70c16d5763a182ec51d9716110b40965cf/styles.css) */
.math-booster-dependency-validation {
    color: white;
    display: inline-block;
    border-radius: 1em;
    margin-right: var(--size-3);
    cursor: default;
    pointer-events: none;
}

.math-booster-dependency-validation svg {
    width: 16px !important;
    height: 16px !important;
}

.math-booster-dependency-validation.valid {
    background-color: #7dc535;
    visibility: visible;
}

.theme-dark .math-booster-dependency-validation.valid {
    background-color: #588b24;
}

.math-booster-dependency-validation.invalid {
    background-color: #ea5555;
    visibility: visible;
}
