.math-booster-setting-item-description {
    padding-bottom: 0.75em;
}

.math-booster-search-item-description {
    color: var(--text-faint);
}

.math-booster-backlink-modal {
    width: var(--file-line-width);
}

.math-booster-backlink-preview {
    border: var(--border-width) solid var(--background-modifier-border); 
    border-radius: var(--radius-s);
    padding: var(--size-4-6);
}

.math-booster-begin-proof-en {
    font-style: italic;
    padding-right: 10px;
}

.math-booster-begin-proof-ja {
    font-weight: 500;
    font-family: Times, Noto Sans JP;
    padding-right: 10px;
}

.math-booster-end-proof {
    float: right;
}

.math-booster-add-profile {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.math-booster-add-profile > input {
    width: 200px;
}

.math-booster-profile-button-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: var(--size-4-2);
    padding: var(--size-4-2);
}

.math-booster-preview {
    cursor: text;
}

.cm-embed-block .math-booster-preview-edit-button {
    padding: var(--size-2-2) var(--size-2-3);
    position: absolute;
    right: var(--size-2-2);
    top: var(--size-2-2);
    opacity: 0;
    display: flex;
    border-radius: var(--radius-s);
}           
                
.cm-embed-block:hover .math-booster-preview-edit-button {
    transition: 0s;
    opacity: 1
}
                
/* Unlike in callouts, Obsidian natively renders MathJax in blockquotes. But it is rather buggy 
(see https://forum.obsidian.md/t/live-preview-support-math-block-in-quotes/32564/2), 
so we need to replace it with this plugin's editor extension. */
.cm-line:has( .math.math-block.cm-embed-block > mjx-container.MathJax:not(.math-booster-preview) > mjx-math[display="true"]) {
    display: none;
}

.theorem-callout {
    position: relative;
}
                
.theorem-callout-setting-button {
    padding-bottom: var(--size-2-2);
    padding-right: var(--size-2-3);
    position: absolute;
    right: var(--size-2-2);
    bottom: var(--size-2-2);
    opacity: 0;
}

.theorem-callout:hover .theorem-callout-setting-button {
    transition: 0s;
    opacity: 1
}

.theorem-callout-font-family-inherit {
    font-family: inherit !important;
}

.math-booster-title-form,
.math-booster-label-form {
    width: 300px;
}
