.math-callout {
    --callout-color: 238, 15, 149;
    border-left: 5px solid rgb(var(--callout-color));
    border-radius: 0px;
    padding: 0px;
    font-family: CMU Serif;
}

.math-callout .callout-title {
    padding: 6px;
    padding-left: 12px;
}

.math-callout .callout-icon {
    display: none;
}

.math-callout .callout-title-inner {
    font-family: Inter;
    font-weight: 400;
    color: rgb(var(--callout-color));
}

.math-callout-subtitle {
    font-weight: 200;
}

.math-callout .callout-content {
    background-color: var(--background-primary);
    padding: 1px 20px 2px 20px;
}
